<%- include('./layouts/header.ejs') -%>

    <%- include('./layouts/sidebar.ejs') -%>

        <%- include('./layouts/topbar.ejs') -%>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">

                                <form action="/admin/categories" method="post">
                                    <div class="mb-4">
                                        <label for="category_name" class="form-label">Category Name</label>
                                        <input type="text" placeholder="name" class="form-control"
                                            id="category_name" name="category_name" required />
                                    </div>

                                    <%if(typeof message!==undefined){%>
                                        <div><p class="text-center text-danger"><%= message %></p></div>
                                    <%}%>

                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Description" class="form-control"
                                            name="category_description" required></textarea>
                                    </div>

                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Create category</button>
                                    </div>
                                </form>

                            </div>

                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover ">

                                        <thead>
                                            <tr>
                                                <th style="width: 5%">ID</th>
                                                <th style="width: 10%">Name</th>
                                                <th style="width: 20%">Description</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr>
                                             <%if(category && category.length>0){for(let i=0;i<category.length;i++){%></category.length>
                                                <td>
                                                    <%= i+1 %>
                                                </td>
                                                <td><b>
                                                        <%= category[i].name%>
                                                    </b></td>

                                                <td>
                                                    <%= category[i].description %>
                                                </td>

                                                <td class="text-end">
                                                    <a href="/admin/editCategory?id=<%= category[i]._id %>"
                                                        class="btn btn-sm btn-success rounded font-sm text-white mt-15">Edit</a>

                                                    <button id="categId<%= category[i]._id %>"
                                                        onclick="categoryList('<%= category[i]._id %>')"
                                                        class="btn btn-sm btn-danger rounded font-sm mt-15 ms-2">
                                                        <%if(category[i].list===true){%>
                                                            Unlist
                                                        <%}else{%>
                                                            List
                                                        <%}%>
                                                    </button>
                                                </td>

                                            </tr>

                                            <%}}else{%>
                                                <h5>Categories not found</h5>
                                                <%}%>

                                        </tbody>
                                    </table>

                                    <!-- <table class="table table-hover text-end">
                                        <thead>
                                            <tr>
                                               
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                             
                                                <td>21</td>
                                                <td><b>Cake & Milk</b></td>
                                                <td>Cake & Milk</td>
                                                
                                                <td class="text-end">

                                                    
                                                    <div class="dropdown">                                                      
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">View detail</a>
                                                            <a class="dropdown-item" href="#">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                                        </div>                                          
                                                    </div>

                                                    <!-- dropdown //end -->
                                    </td>
                                    </tr>


                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>
            <!-- content-main end// -->


            <%- include('./layouts/footer.ejs') -%>

                <script>
                    let category_name = document.getElementById("category_name");
                    category_name.addEventListener("input", () => {
                        if (category_name.value.trim() == "") {
                            category_name.setCustomValidity("Field must be filled out");
                        } else {
                            category_name.setCustomValidity("");
                        }
                    })


                    const categoryList = async (categoryId) => {
                        try {
                            const categoryList = await axios.patch('/admin/listCategory', { categoryId })
                            if (categoryList.data.message === true) {
                                document.getElementById(`categId${categoryId}`).textContent = 'List'
                            } else if (categoryList.data.message === false) {
                                document.getElementById(`categId${categoryId}`).textContent = 'Unlist'
                            }
                        } catch {
                            console.log(console.message);
                        }

                    }
                </script>