<%- include('./layouts/header.ejs') -%>

    <%- include('./layouts/sidebar.ejs') -%>

        <%- include('./layouts/topbar.ejs') -%>



            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <!-- <div class="card-header">
                                <h4>Basic</h4>
                            </div> -->

                            <div class="card-body">

                                <form action="/admin/productEdit" enctype="multipart/form-data" method="post">

                                    <div class="mb-4">
                                        <input type="hidden" placeholder="product_id" class="form-control"
                                            name="product_id" id="product_id" value="<%=product._id%>" />
                                    </div>


                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>

                                        <input type="text" placeholder="Product Name" class="form-control"
                                            id="product_name" name="product_name" value="<%=product.name %>" required />
                                    </div>


                                    <div class="mb-4">
                                        <label class="form-label">Product Description</label>

                                        <textarea placeholder="Description" class="form-control" rows="4"
                                            id="product_description" name="product_description" required>
                                                 <%=product.description  %></textarea>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Product Price</label>

                                                <div class="row gx-2">
                                                    <input min="1" placeholder="Price" type="text" class="form-control"
                                                        id="product_price" name="product_price"
                                                        value="<%=product.price  %> " required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Product Quantity</label>

                                                <div class="row gx-2">
                                                    <input min="1" placeholder="Quantity" id="product_quantity"
                                                        type="text" class="form-control" name="product_quantity"
                                                        value="<%=product.quantity  %>" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row gx-2">
                                                <div class="col-sm-6 mb-3">

                                                    <label class="form-label">Product Category</label>

                                                    <select class="form-select" name="product_category"
                                                        id="product_category" required>
                                                        <% for( let category of categories) { %>

                                                            <option value="<%=category._id %>">
                                                                <%= category.name %>
                                                            </option>

                                                            <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="card mb-4">
                                            <div class="card-header">

                                                <h4>Product Image</h4>

                                            </div>

                                            <div class="card-body">
                                                <div class="input-upload">
                                                    <% product.image.forEach((image)=> {%>
                                                        <img id="product_img" src="/images/<%= image%>" alt="" />
                                                        <% }) %>
                                                            <input name="product_img" class="form-control" type="file"
                                                                 accept="image/*" onchange="viewImage(event)" multiple />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div >
                                        <!-- <button class="btn btn-md rounded font-sm hover-up">
                                            Submit
                                        </button> -->
                                        <input type="submit" class="btn btn-md rounded font-sm hover-up" value="Submit">
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                </div>
            </section>

            <%- include('./layouts/footer.ejs') -%>

                <script>
                    function viewImage(event) {
                        document.getElementById("product_img").src = URL.createObjectURL(
                            event.target.files[0]
                        );
                    }

                    let product_name = document.getElementById("product_name");
                    let product_price = document.getElementById("product_price");
                    let product_quantity = document.getElementById("product_quantity");

                    product_name.addEventListener("input", () => {
                        if (product_name.value.trim() == "") {
                            product_name.setCustomValidity("Field must be filled out");
                        } else {
                            product_name.setCustomValidity("");
                        }
                    })

                    product_price.addEventListener("input", () => {
                        if (product_price.value.trim() == "") {
                            product_price.setCustomValidity("Field must be filled out");
                        } else if (isNaN(product_price.value)) {
                            product_price.setCustomValidity("Field must be containing only digits");
                        } else {
                            product_price.setCustomValidity("");
                        }
                    })

                    product_quantity.addEventListener("input", () => {
                        if (product_quantity.value.trim() == "") {
                            product_quantity.setCustomValidity("Field must be filled out");
                        } else if (isNaN(product_quantity.value)) {
                            product_quantity.setCustomValidity(
                                "Field must be containing only digits"
                            );
                        } else {
                            product_quantity.setCustomValidity("");
                        }
                    });



                </script>