<%- include('./layouts/header.ejs') -%>

    <%- include('./layouts/sidebar.ejs') -%>

        <%- include('./layouts/topbar.ejs') -%>
            <style>
                #productDescription {
                    overflow: hidden;
                    max-height: 100px;
                    /* Adjust the height as needed */
                }
            </style>


            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                    </div>
                    <% if( succ.length> 0 ) { %>
                        <div class="">
                            <h6 style="color: green;"> <%= succ %></h6>
                        </div>
                        <% } %>
                            <div>
                                <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Add Products</a>
                            </div>

                </div>

                <div class="row gx-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Quantity/Stock</th>
                                        <th>Offers</th>
                                        <th> </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (product && product.length> 0) { for (let i = 0; i < product.length; i++) { %>
                                            <tr>
                                                <td width="25%">

                                                    <div class="left">
                                                        <img
                                                        src="/images/<%= product[i].image[0] %>"
                                                        class="img-sm img-thumbnail"
                                                        alt="Item"
                                                      />
                                                    </div>

                                                    <div class="info pl-3">
                                                        <h6 class="mb-0 title">
                                                            <%= product[i].name %>
                                                        </h6>
                                                    </div>
                                                </td>


                                                <td>
                                                    <span>₹<%= product[i].price %></span>
                                                </td>

                                                <td>
                                                    <span>
                                                        <%= product[i].category.name %>
                                                    </span>
                                                </td>

                                                <td>
                                                    <% if (product[i].description.length> 50) { %>
                                                        <span id="shortDescription<%= product[i]._id %>">
                                                            <%= product[i].description.substring(0, 50) %>
                                                        </span>
                                                        <span id="fullDescription<%= product[i]._id %>"
                                                            style="display: none;">
                                                            <%= product[i].description %>
                                                        </span>
                                                        <a href="#" class="show-more-link"
                                                            onclick="toggleDescription('<%= product[i]._id %>')">Show
                                                            More</a>
                                                        <% } else { %>
                                                            <%= product[i].description %>
                                                                <% } %>
                                                </td>

                                                <td>
                                                    <span class="badge rounded-pill alert-success">
                                                        <%= product[i].quantity %>
                                                    </span>
                                                </td>

                                                <td>
                                                    <% if( product[i].offer ){%>
                                                        <%= product[i].offer.name %>( <%= product[i].offer.percentage %>
                                                                % )<%} else { %>No offers<% }%>
                                                </td>

                                                <td>
                                                    <% if ( product[i].offer ){%>

                                                        <button onclick="removeOffer('<%= product[i]._id %>')"
                                                            class="btn btn-sm btn-outline-warning rounded font-sm">
                                                            Remove offer </button>
                                                        <% } else {%>
                                                            <button class=" btn btn-sm btn-outline-primary rounded
                                                            font-sm" onclick="showModal('<%= product[i]._id %>')">
                                                                Apply offer
                                                            </button>
                                                            <% }%>
                                                </td>
                                                <td>
                                                    <a href="/admin/productEdit?id=<%= product[i]._id %>"
                                                        class="btn btn-sm btn-danger rounded font-sm">Edit</a>


                                                    <button id="block-<%= product[i]._id %>"
                                                        onclick="productList('<%= product[i]._id %>')"
                                                        class="btn btn-sm btn-danger rounded font-sm mt-15">
                                                        <% if (product[i].list===true) { %>
                                                            Unlist
                                                            <% } else { %>
                                                                List
                                                                <% } %>
                                                    </button>

                                                </td>

                                            </tr>
                                            <% } } else { %>
                                                <tr>
                                                    <td colspan="5">Products Not Found</td>
                                                </tr>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </section>

            <div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <% if (availableOffers && availableOffers.length> 0) { %>
                        <% for (offer of availableOffers) { %>
                            <div class="modal-content rounded-50">
                                <div data-offerid="<%= offer._id %>" style="cursor: pointer;"
                                    class="modal-body text-center">
                                    <div class="icon text-danger">
                                        <i style="font-size: 20px;" class="fas fa-gift"></i>
                                    </div>
                                    <div class="notice">
                                        <h2>
                                            <%= offer.name %>
                                        </h2>
                                        <h4>
                                            <%= offer.percentage %>% Discount
                                        </h4>
                                        <p class="offer-validity">
                                            <span>Valid from</span>
                                            <%= offer.startingDate %> <span>to</span>
                                                <%= offer.expiryDate %>
                                        </p>
                                    </div>
                                    <div class="code"></div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>

            </div>



            <%- include('./layouts/footer.ejs') -%>

                <script>
                    function toggleDescription(productId) {
                        const shortDescription = document.getElementById("shortDescription" + productId);
                        const fullDescription = document.getElementById("fullDescription" + productId);
                        const showMoreLink = document.querySelector(`[onclick="toggleDescription('${productId}')"]`);

                        if (shortDescription.style.display === "none") {
                            shortDescription.style.display = "inline";
                            fullDescription.style.display = "none";
                            showMoreLink.innerHTML = "Show More";
                        } else {
                            shortDescription.style.display = "none";
                            fullDescription.style.display = "inline";
                            showMoreLink.innerHTML = "Show Less";
                        }
                    }

                    const productList = async (productId) => {
                        try {
                            const button = document.getElementById(`block-${productId}`);
                            const responses = await axios.patch("/admin/listProduct", { productId });

                            if (responses.data.unlistSuccess) {
                                button.textContent = "List";
                            } else if (responses.data.listSuccess) {
                                button.textContent = "Unlist";
                            }
                        } catch (error) {
                            console.log(error.message);
                        }
                    }


                    $(document).ready(function () {
                        $("#myTable").DataTable();
                    })

                    function showModal(productId) {
                        $('#discountModal').modal('show');
                        const offerElements = document.querySelectorAll('.modal-body.text-center');
                        offerElements.forEach((element) => {
                            element.onclick = function () {
                                const offerId = this.getAttribute('data-offerid');
                                enterOffer(offerId, productId);
                            };
                        });
                    }

                    async function enterOffer(offerId, productId) {
                        $('#discountModal').modal('hide');
                        const response = await axios.patch('/admin/applyProductOffer', { offerId, productId })
                        if (response.data.success) {

                            alert('Offer applied')
                            window.location = '/admin/products'
                        }
                    }

                    async function removeOffer(productId) {
                        try {
                            const isConfirmed = await Swal.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#d33',
                                cancelButtonColor: '#3085d6',
                                confirmButtonText: 'Yes, remove it!'
                            });

                            if (isConfirmed.isConfirmed) {
                                const response = await axios.patch('/admin/removeProductOffer', { productId })
                                if (response.data.success) {
                                    window.location = '/admin/products'
                                }
                            }
                        } catch (error) {
                            console.log(error.message);
                        }
                    } 
                </script>