
<div class="product__details__option">
                                    
                                    
                                    
  <div class="product__details__option__size">
      <span>Size:</span>

  <% product.size.forEach(size => { %>
    <label for="<%= size %>"><%= size %>
      <input type="radio" id="selectedSize" name="size" value="<%= size %>">
     </label>
  <% }) %>

  </div>



  <div class="product__details__option__color">
      <span>Color:</span>


      <% product.color.forEach(hexCode=>{ %>
          <div 
              class="color-box mx-1" 
              

              <% if(hexCode == 'blue'){ 
                  %> style="background-color:#4E4FEB;" <% 
              } else if(hexCode == 'red'){ 
                  %> style="background-color: #FE0000;" <%
              }else if(hexCode == 'yellow'){
                  %>style="background-color: #F1C93B;" <%
              }else if(hexCode == 'green'){
                  %>style="background-color: #1A5D1A;" <%  
              }else if(hexCode == 'white'){
                  %>style="background-color: #ffffff;" <% 
              }else if(hexCode == 'black'){
                  %>style="background-color: #000000;" <% 
              }%>
              
              
          >
          <input type="radio" name="selectedColor" id="selectedColor" value="<%= hexCode %>" hidden>
      </div>
      <% } )%>
  </div>
  
</div> 




<% if ( cart.product_Id.offer ) { %>
    <h6><del style="color: rgba(0, 0, 0, 0.372);">₹ <%=
                cart.product_Id.price %></del></h6>

    <h5>₹ <%= cart.product_Id.price - discount %>
    </h5>


    <%} else if (cart.product_Id.category.offer ) { %>
        <h6><del style="color: rgba(0, 0, 0, 0.372);">₹ <%=
                    cart.product_Id.price %></del></h6>
        <h5>₹ <%= cart.product_Id.price - discount %>
        </h5>

        <% } else { %>
            <h5>₹ <%= cart.product_Id.price %>
            </h5>
            <% } %>