<%- include('./layouts/header.ejs') -%>

<%- include('./layouts/navbar.ejs') -%>


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <!-- Sidebar -->
        <div class="card mb-4">
          <div class="card-body text-center">
            <a href="/userProfile">
              <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px; border: 4px solid #fff;"
            />
            </a>
            <h5 class="my-3">
              <%= user.name %> 
            </h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="/editProfile" class="btn btn-outline-primary btn-block">Edit Profile</a>
              </li>
              <li class="list-group-item">
                <a href="/orders" class="btn btn-outline-primary btn-block">Orders</a>
              </li>
              <li class="list-group-item">
                <a href="/manageAddress" class="btn btn-outline-primary btn-block">Manage Address</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <!-- Main content -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Change Password</h5>
            <hr />
            <% if(typeof message!=='undefined'){ %>
            <h6 class="text-danger"><%=message %></h6>
            <% } %>


            <form action="/changePassword" method="post">
              <div class="mb-3">
                <label for="currentPassword" class="form-label">Current Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  name="currentPassword"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmNewPassword"
                  name="confirmNewPassword"
                  required
                />
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./layouts/footerNavbar.ejs') -%>

    <%- include('./layouts/footer.ejs') -%>


<script>
  let currentPassword = document.getElementById("currentPassword");
  let newPassword = document.getElementById("newPassword");
  let confirmNewPassword = document.getElementById("confirmNewPassword");

  currentPassword.addEventListener("input", () => {

    if (currentPassword.value.trim() == "") {
      currentPassword.setCustomValidity(
        "Current Password should not be empty"
      );

    } else if (currentPassword.value.length < 5) {
      currentPassword.setCustomValidity(
        "Current Password should contain at least 5 characters"
      );
    } else {
      currentPassword.setCustomValidity("");
    }
  });

  newPassword.addEventListener("input", () => {
    if (newPassword.value.trim() == "") {
      newPassword.setCustomValidity("New Password should not be empty");

    } else if (newPassword.value.length < 5) {
      newPassword.setCustomValidity(
        "New Password should contain at least 5 characters"
      );
    } else {
      newPassword.setCustomValidity("");
    }
  });
  
  confirmNewPassword.addEventListener("input", () => {
    if (confirmNewPassword.value.trim() == "") {
      confirmNewPassword.setCustomValidity(
        "Confirm Password should not be empty"
      );
    } else if (confirmNewPassword.value.length < 5) {
      confirmNewPassword.setCustomValidity(
        "Confirm Password should contain at least 5 characters"
      );
    } else {
      confirmNewPassword.setCustomValidity("");
    }
  });
</script>