<%- include('./layouts/header.ejs') -%>

  <%- include('./layouts/navbar.ejs') -%>

    <section style="background-color: #eee">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <hr />
                <div class="table-responsive">
                  <table id="myTable" class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th>Order ID</th>
                        <th>Address</th>
                        <th>Payment Method</th>
                        <th>Ordered Items</th>
                        <th>Order Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%if(orders){%>
                        <% for (let order of orders) { %>
                          <tr id="ordertable-<%= order._id %>">
                            <td>
                              <%= order._id %>
                            </td>
                            <td>
                              <%= order.deliveryAddress %>
                            </td>
                            <td>
                              <%= order.payment %>
                            </td>
                            <td>
                              <a href="/viewOrdered?id=<%= order._id %>">View Details</a>
                            </td>

                            <td id="status">
                              <%= order.status %>
                            </td>

                            <td>
                              <% if (order.status==='delivered' ) { %>
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                  data-bs-target="#returnModal<%= order._id %>">
                                  Return
                                </button>
                                <% } else if (order.status==='cancelled' ) { %>
                                  <p></p>
                                  <% } else if (order.status==='returned' ) { %>
                                    <p></p>
                                    <% } else { %>
                                      <td class="cancel">
                                        <button
                                          class="btn btn-danger"
                                          onclick="cancel('<%= order._id%>')"
                                        >
                                          Cancel
                                        </button>
                                      </td>
                                      <% } %>
                            </td>


                            <!-- <span id="delete" style="display: none">order has been removed</span> -->
                          </tr>
                          <% }}else{ %>
                            <h6>There is no order in the list</h6>
                            <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="cancelReason" class="modal mt-5" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Reason</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="event.preventDefault(); cancelOrder();">
            <div class="modal-body">
              <label for="cancelTextArea">Enter the cancel reason:</label>
              <textarea
                id="cancelTextArea"
                class="form-control"
                rows="4"
                required
              ></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- <%  { %>
        <div class="modal fade" id="cancelModal<%= %>" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reason for cancellation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-check">
                  <input type="radio" id="cancelReason" name="cancelReason" value="Change of Mind" required>
                  <label>Change of Mind</label>
                </div>
                <div class="form-check">
                  <input type="radio" id="cancelReason" name="cancelReason" value="Shipping or Delivery Concerns"
                    required>
                  <label>Shipping or Delivery Concerns</label>
                </div>
                <div class="form-check">
                  <input type="radio" id="cancelReason" name="cancelReason" value="Payment Issues" required>
                  <label>Payment Issues</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="cancelOrder('<%=  %>')" class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </div>
        </div>




        <div class="modal fade" id="returnModal<%=  %>" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reason for return</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-check">
                  <input type="radio" id="returnReason" name="returnReason" value="Defective Product" required>
                  <label>Defective Product</label>
                </div>
                <div class="form-check">
                  <input type="radio" id="returnReason" name="returnReason" value="Wrong Item Received" required>
                  <label>Wrong Item Received</label>
                </div>
                <div class="form-check">
                  <input type="radio" id="returnReason" name="returnReason" value="Size or Fit Issues" required>
                  <label>Size or Fit Issues</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="returnOrder('<%=  %>')" class="btn btn-danger">Return</button>
              </div>
            </div>
          </div>
        </div>
        <% } %>
          <%  %> -->


    <%- include('./layouts/footerNavbar.ejs') -%>

      <%- include('./layouts/footer.ejs') -%>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
        <script>
          let currentOrderId;
          const cancel = (orderId) => {
            const cancelModal = document.getElementById("cancelReason");
            currentOrderId = orderId;
            cancelModal.style.display = "block";
          };
          const cancelOrder = async () => {
            const cancelModal = document.getElementById("cancelReason");
            const orderId = currentOrderId;
            let cancelValue = document.getElementById("cancelTextArea").value;
            if (!cancelValue) {
              Toastify({
                text: "Cancel statement is required",
                duration: 1000,
                newWindow: false,
                close: false,
                gravity: "top",
                position: "center",
                stopOnFocus: false,
                style: {
                  background: "#384aeb",
                },
              }).showToast();
              return false;
            } else {
              swal({
                title: "Cancel Order",
                text: "Are you sure you want to cancel this order?",
                icon: "warning",
                buttons: ["Cancel", "OK"],
                dangerMode: true,
              }).then(async (confirmCancel) => {
                if (confirmCancel) {
                  cancelModal.style.display = "none";
                  const cancelItem = await axios.patch("/cancelOrder", {
                    orderId,
                    cancelReason: cancelValue,
                  });
                  if (cancelItem.data.message) {
                    const statusCell = document
                      .getElementById(`ordertable-${orderId}`)
                      .querySelector("#status");
                    statusCell.textContent = cancelItem.data.status;
                    const remove = document
                      .getElementById(`ordertable-${orderId}`)
                      .querySelector(".cancel");
                    remove.parentNode.removeChild(remove);
                  }
                }
              });
            }
          };
        </script>