<%- include('./layouts/header.ejs') -%>

    <%- include('./layouts/navbar.ejs') -%>



<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Order Placed!!</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="mb-4">
                <h3>Congrats !! , Your order has been placed successfully</h3>
            </div>
            <% if (order && order.items) { %>
            <div class="shopping__cart__table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.items.forEach((product) => { %>
                            <tr class="cart-item">
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="/images/<%= product.product_Id.image[0] %>" alt=""
                                            style="height: 100px; width: 100px;">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6><%= product.product_Id.name %></h6>
                                        <h5>₹<%= product.product_Id.price %></h5>
                                    </div>
                                </td>
                                <td class="quantity__item ">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="<%= product.quantity %>" readonly>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">₹ <%= product.totalPrice %></td>
                                <td></td> <!-- Empty cell for alignment -->
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Address Details</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Date</th>
                        <th scope="col">Delivery by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= order._id %></td>
                        <td><%= order.userName %></td>
                        <td><%= order.deliveryAddress %></td>
                        <td><%= order.payment %></td>
                        <td>₹ <%= order.totalAmount %></td>
                        <td><%= order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></td>
                        <td><%= order.expectedDelivery.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></td>
                    </tr>
                </tbody>
            </table>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="continue__btn">
                    <a href="/shop">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./layouts/footerNavbar.ejs') -%>

<%- include('./layouts/footer.ejs') -%>