<%- include('./layouts/header.ejs') -%>


    <%- include('./layouts/navbar.ejs') -%>

        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shopping Cart</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <a href="./shop.html">Shop</a>
                                <span>Shopping Cart</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->





        <div id="reloadDiv">
            <section class="shopping-cart spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <% if (cartData && cartData.items) { %>
                                <div class="shopping__cart__table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cartData.items.forEach((x)=> { %>
                                                <tr class="cart-item">
                                                    <td class="product__cart__item">
                                                        <div class="product__cart__item__pic">
                                                            <img src="/images/<%= x.product_Id.image[0] %>" alt=""
                                                                style="height: 100px; width: 100px;">
                                                        </div>
                                                        <div class="product__cart__item__text">
                                                            <h6>
                                                                <%= x.product_Id.name %>
                                                            </h6>
                                                            <% if ( x.product_Id.offer){ var discount = (x.product_Id.price * x.product_Id.offer.percentage / 100).toFixed(0)  } else if ( x.product_Id.category.offer ) {var discount = ( x.product_Id.price * x.product_Id.category.offer.percentage / 100 ).toFixed(0) } %>
                                                            
                                                                <% if ( x.product_Id.offer ) { %>
                                                                    <h6><del style="color: rgba(0, 0, 0, 0.372);">₹ <%= x.product_Id.price %></del></h6>
                    
                                                                    <h5>₹ <%= x.product_Id.price - discount %> </h5>
                    
                    
                                                                <%} else if (x.product_Id.category.offer ) { %>
                                                                    <h6 ><del style="color: rgba(0, 0, 0, 0.372);">₹ <%= x.product_Id.price %></del></h6>
                                                                    <h5 >₹ <%= x.product_Id.price - discount %></h5>
                    
                                                                    <% } else { %>
                                                                    <h5>₹ <%= x.product_Id.price %> </h5>
                                                                <% } %>
                                                            
                                                        </div>
                                                    </td>
                                                    <td class="quantity__item">
                                                        <div class="quantity-controls">
                                                            <button class="quantity-btn minus" type="button"
                                                                onclick="increaseQuantity('<%= cartData._id %>', '<%= x.product_Id._id %>', -1 )">-</button>
                                                            <input class="qty-input" type="text"
                                                                value="<%= x.quantity %>" readonly>
                                                            <button class="quantity-btn plus" type="button"
                                                                onclick="increaseQuantity('<%= cartData._id %>', '<%= x.product_Id._id %>', 1 )">+</button>
                                                        </div>
                                                    </td>
                                                         <% if (x){ %>   
                                                            <% var totlAmt = 0 %>
                                                            <% var Price = 0 %>
                                                    <% if ( x.product_Id.offer){ 
                                                         totlAmt = (x.product_Id.price * x.product_Id.offer.percentage / 100).toFixed(0)  * x.quantity
                                                         Price = x.product_Id.price * x.quantity - totlAmt
                                                    } else if ( x.product_Id.category.offer ) {
                                                       
                                                         totlAmt =  (x.product_Id.price * x.product_Id.category.offer.percentage / 100 ).toFixed(0) * x.quantity 
                                                         Price = x.product_Id.price * x.quantity - totlAmt
                                                    } else {
                                                           Price = x.product_Id.price * x.quantity 
                                                    } %>
                                                        <% } %>
                                                        
                                                            
                                                        
                                                    <td class="cart__price">₹ <%= Price %>




                                                
                                                    </td>
                                                    <td class="cart__close">
                                                        <a href="#" onclick="removeFromCart('<%= x._id %>')"><i
                                                                class="fa fa-close"></i></a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                              
                                <% } else { %>
                                    <h4 class="text-center" style="padding-left: 420px;">No products in cart</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="continue__btn">
                                                <a href="/shop">Continue Shopping</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart__total">
                                <h6>Cart total</h6>
                                <ul>
                                    <li>SubTotal <span>₹ <%= originalAmts %></span></li>
                                    <li>Offer Discounts <span style="color: rgba(235, 7, 7, 0.582);">₹ <%= discountAmt %></span></li>

                                    <li>Total <span style="color: rgba(28, 179, 14, 0.908);">₹ <%= total %></span></li>
                                </ul>
                                <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Shopping Cart Section End -->




        <%- include('./layouts/footerNavbar.ejs') -%>

            <%- include('./layouts/footer.ejs') -%>


                <script>
                    function removeFromCart(productId) {

                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You want to delete!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButton: '#3085d6',
                            cancelButton: '#d33',
                            confirmButtonText: 'Yes, remove!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: '/deleteItems',
                                    data: {
                                        productId: productId
                                    },
                                    method: 'post',
                                    success: (response) => {
                                        if (response.success) {

                                            $('#reloadDiv').load('/loadCart #reloadDiv', () => {

                                                Swal.fire({
                                                    title: 'Deleted!',
                                                    text: 'Your item has been deleted.',
                                                    icon: 'success',
                                                    timer: 1500,
                                                    showConfirmButton: false
                                                });
                                            });
                                        } else {
                                            Swal.fire({
                                                title: 'Error!',
                                                text: 'Failed to delete item.',
                                                icon: 'error',
                                                showConfirmButton: false
                                            });
                                        }
                                    },
                                    error: (error) => {
                                        console.log(error);
                                        Swal.fire({
                                            title: 'Error!',
                                            text: 'An error occurred while deleting the item.',
                                            icon: 'error',
                                            showConfirmButton: false
                                        });
                                    }
                                });
                            }
                        });
                    }

                    
                    function increaseQuantity(cartId, productId, count) {
                        $.ajax({
                            url: '/changes',
                            method: 'post',
                            data: {
                                cartId: cartId,
                                productId,
                                count: count
                            },
                            success: (response) => {
                                if (response.success) {
                                    $('#reloadDiv').load('/loadCart #reloadDiv')
                                } else {
                                    Swal.fire({
                                        title: "Error",
                                        icon: 'error',
                                        text: response.message,
                                        timer: 2000
                                    })
                                }
                            },
                            error: (error) => {

                                Swal.fire({
                                    title: "Error",
                                    icon: 'error',
                                    text: response.message,
                                    timer: 1500
                                })
                            }
                        })
                    }

                    // const deleteFromCart = async (product_Id) => {
                    //     swal({
                    //         title: "Cancel Order",
                    //         text: "Are you sure you want to cancel this order?",
                    //         icon: "warning",
                    //         buttons: ["Cancel", "OK"],
                    //         dangerMode: true,
                    //     }).then(async (willDelete) => {
                    //         if (willDelete) {
                    //             const deletedItem = await axios.put("/cart", { product_Id });
                    //             document.getElementById("productTot al").innerHTML =
                    //                 deletedItem?.data?.total;

                    //             const { cart } = deletedItem.data;

                    //             if (deletedItem) {
                    //                 document.getElementById(product_Id).style.display = "none";
                    //                 document.getElementById("productTotal").textContent =
                    //                     deletedItem.data.total;
                    //                 if (cart === 0) {
                    //                     const remove = document.getElementById("hideCheckOut");
                    //                     remove.parentNode.removeChild(remove);
                    //                 }
                    //             }
                    //         }
                    //     });
                    // };

                </script>