<%- include('./layouts/header.ejs') -%>

    <%- include('./layouts/navbar.ejs') -%>




        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shop</h4>
                            <div class="breadcrumb__links">
                                <a href="/">Home</a>
                                <span>Shop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->

        <!-- Shop Section Begin -->
        <section class="shop spad">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="shop__sidebar">



                            <div class="shop__sidebar__search">
                                <form id="searchForm">
                                    <input type="text" id="searchInput" placeholder="Search for products...">
                                    <button type="submit"><span class="icon_search"></span></button>
                                </form>
                            </div>



                            <div class="shop__sidebar__accordion">
                                <div class="accordion" id="accordionExample">

                                    <div class="card">

                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                        </div>

                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__categories">

                                                    <ul class="category-checkboxes">
                                                        <li>
                                                            <label>
                                                                <input type="radio" value="All"
                                                                    class="category-checkbox" name="selectedCategory">
                                                                All Categories
                                                            </label>
                                                        </li>

                                                        <% for (let category of categories) { %>
                                                            <li>
                                                                <label>
                                                                    <input type="radio" value="<%= category._id %>"
                                                                        class="category-checkbox"
                                                                        name="selectedCategory">
                                                                    <%= category.name %>
                                                                </label>
                                                            </li>
                                                            <% } %>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                        </div>

                                        <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__size">

                                                    <ul class="size-checkboxes">
                                                        <li>
                                                            <input type="checkbox" id="xs" class="size-checkbox"
                                                                value="XS">
                                                            <label for="xs" class="size-label">XS</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="sm" class="size-checkbox"
                                                                value="S">
                                                            <label for="sm" class="size-label">S</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="m" class="size-checkbox"
                                                                value="M">
                                                            <label for="m" class="size-label">M</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="l" class="size-checkbox"
                                                                value="L">
                                                            <label for="l" class="size-label">L</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="xl" class="size-checkbox"
                                                                value="XL">
                                                            <label for="xl" class="size-label">XL</label>
                                                        </li>


                                                        <!-- Add similar labels for other sizes -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                        </div>

                                        <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__color">

                                                    <ul class="color-list">

                                                        <input type="checkbox" id="c-1" class="color-checkbox"
                                                            value="black">
                                                        <label class="color-label c-1" for="c-1"></label>


                                                        <input type="checkbox" id="c-2" class="color-checkbox"
                                                            value="white">
                                                        <label class="color-label c-2" for="c-2"></label>


                                                        <input type="checkbox" id="c-3" class="color-checkbox"
                                                            value="yellow">
                                                        <label class="color-label c-3" for="c-3"></label>


                                                        <input type="checkbox" id="c-4" class="color-checkbox"
                                                            value="green">
                                                        <label class="color-label c-4" for="c-4"></label>


                                                        <input type="checkbox" id="c-8" class="color-checkbox"
                                                            value="red">
                                                        <label class="color-label c-8" for="c-8"></label>


                                                        <input type="checkbox" id="c-9" class="color-checkbox"
                                                            value="blue">
                                                        <label class="color-label c-9" for="c-9"></label>

                                                        <!-- Add similar items for other colors -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapsePrice">Price Range</a>
                                        </div>
                                        <div id="collapsePrice" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__price">
                                                    <label for="minPrice">Min Price:</label>
                                                    <input type="number" id="minPrice" placeholder="Min Price">
                                                    <br>
                                                    <label for="maxPrice">Max Price:</label>
                                                    <input type="number" id="maxPrice" placeholder="Max Price">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="apply-button">
                                        <button id="applyFiltersButton" class="apply-button-style">Apply
                                            Filters</button>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-lg-9">
                        <div class="col-lg-12" id="reloadDiv">
                            <div class="shop__product__option">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="shop__product__option__left">
                                            <p>Showing <%= count %> of <%=productsCount %> results</p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="shop__product__option__right">
                                        <p>Sort by Price:</p>
                                        <select>
                                            <option value="">Low To High</option>
                                            <option value="">₹0 - ₹55</option>
                                            <option value="">₹55 - ₹100</option>
                                        </select>
                                    </div>
                                </div> -->
                                </div>
                            </div>



                            <div class="row">
                                <% products.forEach(product=> { %>
                                    <div class="col-lg-4 col-md-6 col-sm-6">

                                        <div class="product__item">


                                            <a href="/productDetails?id=<%= product._id %>">
                                                <img src="/images/<%= product.image[1] %>" alt="">

                                            </a>


                                            <div class="product__item__text">
                                                <h6>
                                                    <%= product.name %>
                                                </h6>

                                                <% if ( product.offer){ var discount=(product.price *
                                                    product.offer.percentage / 100).toFixed(0) } else if (
                                                    product.category.offer ) {var discount=( product.price *
                                                    product.category.offer.percentage / 100 ).toFixed(0) } %>

                                                    <% if ( product.offer ) { %>
                                                        <p class="mb-0"><del>₹ <%= product.price %></del></p>
                                                        <h5 class="mb-0">₹ <%= product.price - discount %> <span
                                                                    class="badge badge-success"> Save ₹ <%= discount %>
                                                                </span></h5>
                                                        <%} else if ( product.category.offer ) { %>
                                                            <p class="mb-0"><del>₹ <%= product.price %></del></p>
                                                            <h5 class="mb-0 fw-700">₹ <%= product.price - discount %>
                                                                    <span class="badge badge-success"> Save ₹ <%=
                                                                            discount %>
                                                                    </span></h5>
                                                            <% } else { %>
                                                                <h5>₹ <%= product.price %>
                                                                </h5>
                                                                <% } %>



                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>


                            <!-- pagination area -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product__pagination">


                                        <% for (let i=1 ; i <=totalPages ; i++) { %>
                                            <a href="#" onclick="pagination('<%= i %>')">
                                                <%= i %>
                                            </a>
                                            <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Section End -->

        <%- include('./layouts/footerNavbar.ejs') -%>

            <%- include('./layouts/footer.ejs') -%>

                <script>

   

                    function pagination(pageno) {

                       
                        const selectedCategoryCheckbox = document.querySelector('input[name="selectedCategory"]:checked');
                        const selectedCategories = selectedCategoryCheckbox ? selectedCategoryCheckbox.value : null;

                        const selectedSizeCheckboxes = document.querySelectorAll('.size-checkbox:checked');
                        const selectedSize = Array.from(selectedSizeCheckboxes).map(checkbox => checkbox.value);

                        const selectedColorCheckboxes = document.querySelectorAll('.color-checkbox:checked');
                        const selectedColors = Array.from(selectedColorCheckboxes).map(checkbox => checkbox.value);

                        const minPrice = document.getElementById("minPrice").value
                        const maxPrice = document.getElementById("maxPrice").value
                        $.ajax({

                            url: '/shop',
                            data: {
                                selectedCategories,
                                selectedSize,
                                selectedColors,
                                pageno,minPrice,maxPrice
                            },
                            method: 'post',
                            success: (response) => {
                                if (response.success) {

                                    $('#reloadDiv').load('/shop #reloadDiv'

                                    );
                                }
                            },

                            error: (error) => {

                                console.log(error);

                            }
                        });


                    }




                    // for applying search
                    const searchForm = document.getElementById('searchForm')
                    searchForm.addEventListener('submit', function (event) {
                        event.preventDefault();

                        const selectedCategoryCheckbox = document.querySelector('input[name="selectedCategory"]:checked');
                        const selectedCategories = selectedCategoryCheckbox ? selectedCategoryCheckbox.value : null;

                        const selectedSizeCheckboxes = document.querySelectorAll('.size-checkbox:checked');
                        const selectedSize = Array.from(selectedSizeCheckboxes).map(checkbox => checkbox.value);

                        const selectedColorCheckboxes = document.querySelectorAll('.color-checkbox:checked');
                        const selectedColors = Array.from(selectedColorCheckboxes).map(checkbox => checkbox.value);

                        const minPrice = document.getElementById("minPrice").value
                        const maxPrice = document.getElementById("maxPrice").value

                        const searchInput = document.getElementById('searchInput').value
                        applyFilters(selectedCategories, selectedSize, selectedColors, searchInput,minPrice,maxPrice)
                    });





                    // for applying filter
                    document.getElementById('applyFiltersButton').addEventListener('click', function () {

                        const selectedCategoryCheckbox = document.querySelector('input[name="selectedCategory"]:checked');
                        const selectedCategories = selectedCategoryCheckbox ? selectedCategoryCheckbox.value : null;

                        const selectedSizeCheckboxes = document.querySelectorAll('.size-checkbox:checked');
                        const selectedSize = Array.from(selectedSizeCheckboxes).map(checkbox => checkbox.value);

                        const selectedColorCheckboxes = document.querySelectorAll('.color-checkbox:checked');
                        const selectedColors = Array.from(selectedColorCheckboxes).map(checkbox => checkbox.value);


                        const minPrice = document.getElementById("minPrice").value;
                        const maxPrice = document.getElementById("maxPrice").value

                   
                    

                        if (selectedCategories || selectedColors.length > 0 || selectedSize.length > 0 || minPrice || maxPrice) {
                            applyFilters(selectedCategories, selectedSize, selectedColors,null,minPrice,maxPrice);
                        }
                    });



                    function applyFilters(selectedCategories, selectedSize, selectedColors, searchInput,minPrice,maxPrice) {

                        $.ajax({

                            url: '/shop',
                            data: {
                                selectedCategories,
                                selectedSize,
                                selectedColors,
                                searchInput,
                                minPrice,maxPrice
                            },
                            method: 'post',
                            success: (response) => {
                                if (response.success) {

                                    $('#reloadDiv').load('/shop #reloadDiv'

                                    );
                                }
                            },

                            error: (error) => {

                                console.log(error);

                            }
                        });
                    }





                </script>